<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>


<body>
	<!-- MENU -->
	<div th:replace="~{fragments/menu :: menu}"></div>
	<!-- Contenu -->
	<div class="container mt-5">
	    <h1 class="mb-4">
	        Tableau de bord
	    </h1>
	    <div class="row">
	        <!-- Joueurs -->
	        <div class="col-md-4">
	            <div class="card shadow">
	                <div class="card-body">
	                    <h5>
	                        <i class="bi bi-people"></i>
	                        Joueurs
	                    </h5>
						<h2 th:text="${stats.nombreJoueurs}"></h2>
	                </div>
	            </div>
	        </div>
	        <!-- Omicrons -->
	        <div class="col-md-4">
	            <div class="card shadow">
	                <div class="card-body">
	                    <h5>
	                        <i class="bi bi-lightning-charge"></i>
	                        Omicrons
	                    </h5>
						<h2 th:text="${stats.nombreOmicrons}"></h2>
	                </div>
	            </div>
	        </div>
	        <!-- Dernière MAJ -->
	        <div class="col-md-4">
	            <div class="card shadow">
	                <div class="card-body">
	                    <h5>
	                        <i class="bi bi-clock"></i>
	                        Dernière MAJ
	                    </h5>
						<h4 th:text="${etatSysteme.derniereSynchroFormatee}"></h4>
	                </div>
	            </div>
	        </div>
			<!-- Bouton -->
			<div>
				<a href="/actions/batch-omicron"class="btn btn-primary me-2">
					🚀 Lancer Batch Omicron</a>
				<a href="/actions/export" class="btn btn-secondary me-2">
				    📄 Export CSV
				</a>
				<a href="/actions/refresh" class="btn btn-success">
				    🔄 Rafraîchir les données
				</a>
			</div>
			<!-- Suivi batch -->
			<div class="card shadow mt-4">
			    <div class="card-body">
			        <h4>
			            <i class="bi bi-activity"></i>
			            Suivi du Batch Omicron
			        </h4>
			        <p>
			            Etat :
			            <span id="batchEtat" class="badge bg-secondary">Inconnu</span>
			        </p>
			        <p>
			            Etape actuelle :
			            <strong id="batchEtape">-</strong>
			        </p>
			        <div class="progress">
			            <div id="batchProgress" class="progress-bar" role="progressbar" style="width:0%">0%</div>
			        </div>
			    </div>
			</div>
			<div class="col-md-3">
				<!-- Sante systeme -->
			    <div class="card shadow h-100">
			        <div class="card-body">
			            <h5 class="card-title">
			                <i class="bi bi-heart-pulse"></i>
			                Santé système
			            </h5>
			            <hr>
			            <p class="mb-2">
							🗄️ BDD
							<span th:if="${etatSysteme.bddOk}" class="badge bg-success float-end">
			                    OK
			                </span>
			                <span th:unless="${etatSysteme.bddOk}" class="badge bg-danger float-end">
								KO
			                </span>
			            </p>
			            <p class="mb-2">
			                🌌 Comlink
			                <span th:if="${etatSysteme.comlinkOk}" class="badge bg-success float-end">
			                    OK
			                </span>
			                <span th:unless="${etatSysteme.comlinkOk}" class="badge bg-danger float-end">
			                    KO
			                </span>
			            </p>
						<p>
				            <p class="mt-3 mb-0">
				                🕒 Synchro
				                <br>
				                <small class="text-muted" th:text="${etatSysteme.derniereSynchroFormatee}"></small>
				            </p>
						</p>
						<p>
						📡 Dernière actualisation des omicrons :
						<br>
						<strong th:text="${etatSysteme.fraicheurDonnees}">
						</strong>
						</p>
			        </div>
			    </div>
			</div>
	    </div>
	</div>
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>