<!DOCTYPE html>
<html lang="fr"
xmlns:th="http://www.thymeleaf.org">


<head th:replace="~{fragments/head :: head}">

<body>
	<!-- MENU -->
		<div th:replace="~{fragments/menu :: menu}"></div>
		<div class="container mt-5">
				<h1>
				Liste des Omicrons
				</h1>
			<table class="table table-striped">
				<tr>
					<th>Joueur</th>
					<th>Personnage</th>
					<th>Type</th>
					<th>Actif</th>
				</tr>
				<tr th:each="o : ${omicrons}">
					<td th:text="${o.nomJoueur}"></td>
					<td th:text="${o.personnage}"></td>
					<td th:text="${o.typeCapacite}"></td>
					<td th:text="${o.actif ? 'Oui':'Non'}"></td>
				</tr>
				</table>
			</div>
	<!-- Footer -->
		<div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>